/* 全体 */

body{
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; 
}
@media screen and (max-width:768px){
  body{
    width: 100%;
    overflow-x: hidden; 
  }
}
.container{
  background-color: #252424;
  overflow-x: hidden;
}
.top{
  height: 400px;
  background-color: #252424;
}
@media screen and (max-width:768px){
  .top{
    height: 100px;
  }
}
.top-title{
  font-size: 8em;
  text-align: center;
  line-height:400px;
  color:rgb(187, 185, 185);
}
@media screen and (max-width:768px){
  .top-title{
    font-size: 3em;
    line-height:100px;
  }
}
/* トップページ */
.top-p{
  color:#252424;
  position: absolute;
  font-size: 4em;
  top: 10%;
  left: 30%;
}
@media screen and (max-width:768px){
  .top-p{
    font-size: 1.2em;
  }
}
.top-page #show{
  color: #252424;
  position: absolute;
  right: 50%;
  top: 50%;
  font-size: 80px;
}
@media screen and (max-width:768px){
  .top-page #show{
    font-size: 40px;
  }
}
@media screen and (max-width:768px){
  #mycanvas{
    height:670px;
    width:100%;
  }
}
/* ポートフォリオ */
.midle{
  background-color: #252424;
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
}
@media screen and (max-width:768px){
  .midle{
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    height: 410px;
  }
}
.midle-explain{
  width: 50%;
  background-color: #252424;
  color: rgb(187, 185, 185); 
}
@media screen and (max-width:768px){
  .midle-explain{
    width: 100%;
  }
}
.midle-explain a{
  text-decoration: none;
}
.midle-explain-title {
  font-size: 4em;
  padding-top: 30px;
  padding-left: 20px;
  color: rgb(187, 185, 185);
}
@media screen and (max-width:768px){
  .midle-explain-title{
    font-size: 1.3em;
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
  }
}
.textbox{
  display:flex;
  padding-top:100px;
}
@media screen and (max-width:768px){
  .textbox{
    padding-top: 30px;
  }
}
.midle-explain-side{
  width: 30%;
} 
@media screen and (max-width:768px){
  .midle-explain-side{
    width:50%;
  }
}
.midle-explain-h1{
  font-size: 2em;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (max-width:768px){
  .midle-explain-h1{
    font-size: 15px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 4px;
  }
}
.midle-explain-h2{
  text-align: right;
  font-size: 1em;
  padding-top: 15px;
  color: rgb(187, 185, 185);
}
@media screen and (max-width:768px){
  .midle-explain-h2{
    font-size: 10px;
    padding-top: 8px;
  }
}
.midle-explain-ul{
  font-size: 1.5em;
  padding-left: 20px;
}
@media screen and (max-width:768px){
  .midle-explain-ul{
    font-size: 10px;
    padding-left: 15px;
  }
}
.midle-explain-ul li{
  padding-top: 20px;
  text-align: center;
}
@media screen and (max-width:768px){
  .midle-explain-ul{
    padding-top: 0px;
  }
}
.midle-explain-main{
  width: 70%;
}
@media screen and (max-width:768px){
  .midle-explain-main{
    width: 50%;
  }
}
.midle-image-a{
  width:50%;
  background-image: url("https://i.gyazo.com/669fb79ad985a81b06e98d0b51a85bd6.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position:center bottom; 
}
@media screen and (max-width:768px){
  .midle-image-a{
    width: 300px;
    height: 200px;
    margin: auto;
  }
}
.midle-image-b{
  width: 50%;
  background-image: url("https://i.gyazo.com/33daa7832cded51056f052a9c6a968ee.png");
  background-size: contain;  
  background-repeat: no-repeat;
  background-position:center bottom; 
}
@media screen and (max-width:768px){
  .midle-image-b{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 890px;
    left: 40px;
  }
}
/* プロフィール */
.main{
  background-color: #252424;
  padding-top: 50px;
}
@media screen and (max-width:768px){
  .main{
    padding-top: 10px;
  }
}
.profile{
  width: 100%;
}
.profile-title{
  text-align: center;
  font-size: 4em;
  color:rgb(187, 185, 185);
  padding-bottom: 60px;
}
@media screen and (max-width:768px){
  .profile-title{
    font-size: 2em;
    padding-bottom: 30px;
  }
}
.profile .fa{
  font-size: 70px;
  color:rgb(187, 185, 185);
}
@media screen and (max-width:768px){
  .profile .fa{
    font-size: 30px;
  }
}
.profile-main{
  display: flex;
  width: 730px;
  margin: auto;
}
@media screen and (max-width:768px){
  .profile-main{
    display: block;
    width: 100%;
    text-align: center;
  }
}
.profile img{
  border-radius: 220px;
}
@media screen and (max-width:768px){
  .profile img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}
.profile .profile-text{
  font-size: 20px;
  width:400px;
  color:rgb(187, 185, 185);
  line-height: 1.7;
  display: block;
  padding-left: 100px;
}
@media screen and (max-width:768px){
  .profile .profile-text{
    font-size: 15px;
    width:250px;
    padding-left: 0;
    margin: auto;
    margin-top: 30px;
  }
}
.skill{
  width: 100%;
  position: relative;
  padding-top: 150px;
}
@media screen and (max-width:768px){
  .skill{
    padding-top: 80px;
  }
}
.skill-title{
  text-align: center;
  font-size: 4em;
  color:rgb(187, 185, 185);
  padding-bottom: 30px;
}
@media screen and (max-width:768px){
  .skill-title{
    font-size: 2em;
    padding-bottom: 30px;
  }
}
.skill .fa{
  font-size: 70px;
  color:rgb(187, 185, 185);
}
@media screen and (max-width:768px){
  .skill .fa{
    font-size: 30px;
  }
}
.skill-main{
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width:768px){
  .skill-main{
    display: block;
  }
}
.skill-block{
  width: 440px;
  height: 400px;
  background-color: rgb(187, 185, 185);
  margin: 100px 130px;
  border-radius: 100px;
}
@media screen and (max-width:768px){
  .skill-block{
    display: block;
    width: 270px;
    height: 100%;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
.skill-name{
  color: #252424;
  font-size: 40px;
  text-align: center;
  padding-top: 30px; 
  padding-bottom: 10px;
  border: solid 3px #252424;
}
@media screen and (max-width:768px){
  .skill-name{
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 5px;
  }
}
.skill-block table{
  border-collapse: collapse;
  width: 100%;
  color: #252424;
}
.skill-block th{
  font-size: 30px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width:768px){
  .skill-block th{
    font-size: 18px;
    padding: 5px;
    padding-bottom: 8px;
  }
}
.skill-block td{
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width:768px){
  .skill-block td{
    font-size: 15px;
    padding: 10px;
    padding-bottom: 20px;
  }
}
/* ハンバーガーメニュー */
#cover{
  background: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
#menu{
  z-index: 2;
  position: absolute;
  top: 0;
  right: -180px;
  color: #fff;
  background: #252424;
  padding: 8px;
  box-sizing: border-box;
  width: 180px;
  min-height: 100%;
  transition: .4s;
  display: none!important;
}
@media screen and (max-width:768px){
  #menu{
    width: 100px;
    right: -100px;
    padding: 5px;
  }
}
#menu ul{
  padding-top:100px;
  font-size: 30px;
}
@media screen and (max-width:768px){
  #menu ul{
    padding-top: 60px;
    font-size: 20px;
  }
}
#menu li{
  padding-bottom:80px;  
}
@media screen and (max-width:768px){
  #menu li{
    padding-bottom:50px;  
  }
}
#menu a{
  text-decoration: none;
  color: #fff;
}
#show, #hide {
  float: right;
  cursor: pointer;
  font-size: 50px; 
  color: white; 
}
@media screen and (max-width:768px){
  #show, #hide{
    font-size: 20px;
  }
}
.menu-open {
  overflow-y: hidden;
}
body.menu-open #cover {
  display: block;
}
body.menu-open #menu {
  right: 0;
  display: block;
}

